
{% extends 'base.html' %} 
{% block content %}
   
        
    
<ul class="collapsible popout">
{% for recipe in recipes %}
    <li>
      <div class="collapsible-header"><i class="material-icons">restaurant_menu</i><strong>{{recipe.recipe_name}}</strong> - 
      {{recipe.recipe_cat}}
      <img src="{{recipe.url_image}}" alt="">
      </div>
      <div class="collapsible-body"><span>{{recipe.flavour}}</span>
      </div>
            <div class="collapsible-body"><span>{{recipe.dificulty}}</span>
      </div>
      
            
    </li>
    
{% endfor %}
  </ul>

{% endblock %}
