
{% extends 'base.html' %} 
{% block content %}
   
  
  <div class="row">

 
   {% for recipe in recipes %}
<div class="col">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{recipe.url_image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{recipe.recipe_name}}</h5>
    <p class="card-text">{{recipe.recipe_cat}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{recipe.recipe_tag}}</li>
    <li class="list-group-item">Cooking time {{recipe.cooks_in}} minutes</li>
     </ul>
  <div class="card-body">
    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="card-link">Recipe details</a>
    </div>
</div>
</div>

    {% endfor %}

  </div>

{% endblock %}
